// PARTIAL: page/single.scss

article.single {
}
article.single > hr {
    color: var(--clr-black);

    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}
article.single > section.content {
    padding: var(--spacing-m);
}
