// PARTIAL: page/single.scss

article.single {
}

article.single > section.meta-single > ul.tags {
    justify-content: center;
    max-width: 75%;
}

article.single > hr {
    color: var(--clr-black);

    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}
article.single > section.content {
    padding: var(--spacing-m);
}

article.single > section.content > * > img {
    image-rendering: auto;

    width: 100%;
    height: auto;

    border-radius: var(--radius-m);
}
