<footer>
	<section class="copyright">
		<h1 class="disclaimer txt-glow-warm">All Rights Reserved</h5>
		<h2 class="author">{{ .Site.Params.author }}</h2>
	</section>
	<nav>
		<ul>
			<li><a class="txt-glow-cold" href="{{ relURL "" }}">index</a></li>
			<li><a class="txt-glow-cold" href="{{ .Site.Params.directory_url }}">directory</a></li>
			<li><a class="txt-glow-cold" href="{{ relURL "/about" }}">about</a></li>
			<li><a class="txt-glow-cold" href="{{ relURL "/privacy" }}">privacy</a></li>
		</ul>
	</nav>
	{{ partial "meta-links.html" . }}
</footer>
