{{ $url := urls.Parse .Site.BaseURL }}
{{ $domain := $url.Host }}
<header>
	<nav>
		<ul>
			<!-- Site Root -->
			<li>
				<a class="txt-glow-warm" href="{{ relURL "" }}">{{ $domain | upper }} /</a>
			</li>
			<!-- Section -->
			{{ if ne .Type "page" }}
			<li>
				<a class="txt-glow-warm" href="{{ .Section | relURL }}"> {{ .Type | upper }} /</a>
			</li>
			{{ end }}
			<!-- Page -->
			{{ if and (eq .Kind "page") .Section }}
			<li>
				<a class="txt-glow-warm" href="{{ .RelPermalink }}">{{ .Title | upper }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</header>
