<!-- Single Page meta-section (title, date, tags, ...)  -->

<section class="meta-single">
	<h1 class="title">{{ .Title }}</h1>
	<h2 class="time">{{ .Date.Format "2006-01-02" }} @ {{ .ReadingTime }} minute(s)</h2>
	<h3 class="section">
		<a class="txt-glow-warm" href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title | lower }}</a>
	</h3>
	{{ if .Params.emoji }}
	<h2 class="emoji">{{ .Params.emoji }}</h2>
	{{ end }}
	{{ partial "tags.html" . }}
	<ul class="nav">
		<li class="prev">
			{{ with .PrevInSection }}
			<a href="{{ .RelPermalink }}">Previous</a>
			{{ else }}
			<p>Previous</p>
			{{ end }}
		</li>
		<li class="next">
			{{ with .NextInSection }}
			<a href="{{ .RelPermalink }}">Next</a>
			{{ else }}
			<p>Next</p>
			{{ end }}
		</li>
	</ul>
</section>
