<!DOCTYPE HTML>
<html lang="en">
{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	{{ partial "nav.html" . }}
	<main>
		<div id="container">
			<article class="index">
				<!--{{ partial "meta/intro.html" . }}
				{{ partial "content/list-latest.html" . }}
				<hr>-->
				{{ partial "content/list-big.html" (dict "context" . "section" "post" "num_preview" 5) }}
				{{ partial "content/list-big.html" (dict "context" . "section" "note" "num_preview" 5) }}
				{{ partial "content/list-big.html" (dict "context" . "section" "log" "num_preview" 5) }}
			</article>
		</div>
	</main>
	{{ partial "footer.html" . }}
</body>
