<!DOCTYPE HTML>
<html lang="en">
{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<main>
		<div id="container">
			<article class="index">
				<section>
					<h1>Restructuring in-progress!</h1>
					<p>Everything is very much broken, and all content is being re-indexed.</p>
				</section>
				{{ partial "meta-status.html" . }}
				{{ partial "preview-big.html" (dict "context" . "section" "post") }}
				{{ partial "preview-big.html" (dict "context" . "section" "note") }}
				{{ partial "preview-big.html" (dict "context" . "section" "log") }}
			</article>
		</div>
	</main>
	{{ partial "footer.html" . }}
</body>
