<!DOCTYPE HTML>
<html lang="en">
<!-- NOTE: inject to "head.html"
	<meta name="author" content="{{ .Params.author }}">
	<meta name="description" content="{{ .Title }}">
-->
{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	{{ partial "nav.html" . }}
	<main>
		<div id="container">
			<article class="single">
				{{ partial "meta-single.html" . }}
				<hr>
				{{ partial "meta-content.html" . }}
				<section class="content">{{ .Content }}</section>
			</article>
		</div>
	</main>
	{{ partial "footer.html" . }}
</body>
