section.content.small {
    padding: 0;
    margin: 0;
}

section.content.small > ul.entries {
    margin: 0;
    padding: 0;

    max-width: 100%;
    background-color: transparent;
}

section.content.small > ul.entries * {
    font-family: FontPrimary;
    font-size: var(--font-p-size);

    margin: 0;
    padding: 0;

    list-style: none;
}

// Entries: Box
section.content.small > ul.entries > li {
    padding: var(--spacing-s);
}

// Entries: Anchor
section.content.small > ul.entries > li > a.entry {
    display: block;

    background-color: var(--clr-white-dark);
	border-radius: var(--spacing-s);

    padding: var(--spacing-s);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

	transition: box-shadow 0.5s ease;
}
section.content.small > ul.entries > li > a.entry:hover {
    box-shadow: 0 0 0 0.15em var(--clr-accent-red);
	transition: box-shadow 0.05s ease;
}

// Entry: Section (defaults)
section.content.small > ul.entries > li > a.entry > .meta > .section {
    font-family: FontPrimary;
    font-size: var(--font-p-size);
    font-weight: 800;

    color: var(--clr-white-dark);
    background-color: var(--clr-accent-yellow);

    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
}
// Entry: Date
section.content.small > ul.entries > li > a.entry > .meta > .date {
    font-weight: 800;

    color: var(--clr-black);
    margin: 0 var(--spacing-s);
}
// Entry: Title
section.content.small > ul.entries > li > a.entry > .meta > .title {
    font-weight: 500;
}


// Section-specific entry tag
section.content.small > ul.entries > li > a.entry > .meta > .notice {
    color: var(--clr-black);
    background-color: var(--clr-accent-yellow);
}
section.content.small > ul.entries > li > a.entry > .meta > .post {
    background-color: var(--clr-accent-blue);
}
section.content.small > ul.entries > li > a.entry > .meta > .note {
    background-color: var(--clr-accent-red);
}
section.content.small > ul.entries > li > a.entry > .meta > .log {
    background-color: var(--clr-accent-purple);
}
