// PARTIAL: meta/content.html

section.meta-content {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
    align-items: top;

    background-color: var(--clr-white-dark);

    margin-bottom: var(--spacing-s);
    padding: var(--spacing-m);

    border-radius: var(--radius-m);
}

section.meta-content > nav#TableOfContents {
	font-family: FontDisplayPrimary;
	font-weight: 500;
}
#TableOfContents:before {
	content: "Table of Contents";
    font-size: var(--font-h4-size);
	font-weight: 700;

	margin-bottom: calc(var(--spacing-s)*8);
}
#TableOfContents {
	display: flex;
	flex-direction: column;
	justify-content: left;

    counter-reset: section;

	margin-right: var(--spacing-m);
}
#TableOfContents ul {
	list-style: disc;

    margin: 0;
    padding: 0;

    padding-left: 1em;
}
#TableOfContents ul li {
    margin: 0;
    padding: 0 0 0.25em 0;
}
#TableOfContents li::before {
}
#TableOfContents li::marker {
    font-size: 0.75em;
    color: var(--clr-black);
}
#TableOfContents > ul > li > ul {
    padding: 0.25em 0.5em 0 0.5em;
}
section.meta-content > nav {
    width: 40%;
}
section.meta-content > figure {
    width: 60%;
}
section.meta-content > figure > picture > img.header {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: var(--radius-s);
}
section.meta-content > figure > figcaption {
    font-family: FontDisplayPrimary;
    font-size: var(--font-h4-size);
    font-weight: 300;
    color: var(--clr-grey);

    margin-top: 0.50em;
}
