// PARTIAL: meta/content.html

section.meta-content {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
    align-items: top;
    gap: var(--spacing-m);

    background-color: var(--clr-white-dark);
    border-radius: var(--radius-m);

    padding: var(--spacing-m);
}

section.meta-content > nav#TableOfContents {
	font-family: FontPrimary;
	font-weight: 500;
}
#TableOfContents:before {
	content: "Table of Contents";
    font-size: var(--font-h4-size);
	font-weight: 700;

	margin-bottom: var(--spacing-s);
}
#TableOfContents {
	display: flex;
	flex-direction: column;
	justify-content: left;

    counter-reset: section;
}
#TableOfContents ul {
	list-style: number;

    margin: 0;
    padding: 0;
    padding-left: var(--spacing-m);
}
#TableOfContents ul li {
    margin: 0;
    padding: 0 0 calc(var(--spacing-s)*0.5) 0;
}
#TableOfContents li::before {
}
#TableOfContents li::marker {
    font-size: var(--font-p-size);
    color: var(--clr-grey);
}
#TableOfContents > ul > li > ul {
	list-style: circle;
    padding: 0 0 0 var(--spacing-m);
}
section.meta-content > nav {
    width: 300px;
}
section.meta-content > figure {
    flex: 1;
}
section.meta-content > figure:only-child {
    flex: 1 1 100%
}
section.meta-content > figure > picture > img.header {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: var(--radius-s);
}
section.meta-content > figure > figcaption {
    font-family: FontPrimary;
    font-size: var(--font-p-size);
    font-weight: 300;
    font-style: italic;
    color: var(--clr-grey);

    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-m);
}

@media (max-width: 850px) {
	:root {
        // Flow banner image above ToC
        section.meta-content {
            flex-direction: column;
        }
        section.meta-content > nav {
            order: 2;
            width: 100%;
        }
        section.meta-content > figure {
            width: 100%;
        }
	}
}
