// PARTIAL: meta/links.html

footer > section.meta-links > ul {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;

    list-style-type: none;

    margin: 0;
}

footer > section.meta-links > ul {
    margin: 0;
    padding: 0;
}
footer > section.meta-links > ul > li {
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-m);
}
footer > section.meta-links > ul > li > a {
    display: block;

    background-color: var(--clr-white);
    border-radius: var(--radius-s);

    padding: 0.50em;

	transition: box-shadow 0.50s ease;
}
footer > section.meta-links > ul > li > a:hover {
	transition: box-shadow 0.05s ease;
    box-shadow: 0 0 0 0.20em var(--clr-accent-red);
}
footer > section.meta-links > ul > li > a > img {
    width: 2em;
    max-width: 2em;

    //filter: grayscale(1);
}
