// PARTIAL: meta/single.html

section.meta-single * {
    font-family: FontPrimary;
    background-color: transparent;

    margin: 0;
    padding: 0;
}
section.meta-single {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.meta-single > .title {
    font-size: var(--font-h1-size);
    text-align: center;
}
section.meta-single > .time {
    font-size: var(--font-h4-size);
    color: var(--clr-grey);
}
section.meta-single > .section {
    font-size: var(--font-h3-size);
    color: white;

    margin-bottom: var(--spacing-m);
}
section.meta-single > .emoji {
    font-size: var(--font-h1-size);
    background-color: var(--clr-white-dark);

    padding: var(--spacing-s);
    margin-bottom: var(--spacing-m);
}
section.meta-single > .tags {
}

section.meta-single > .nav {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: var(--spacing-s);
    margin: var(--spacing-s);
}
section.meta-single > .nav p {
    color: var(--clr-grey);
    font-weight: 500;
    text-decoration: line-through;
}
section.meta-single > .nav > .prev {
}
section.meta-single > .nav > .next {
}
