// PARTIAL: meta/single.html

section.meta-single * {
    font-family: FontDisplayPrimary;
    text-align: center;    

    margin: 0;
    padding: 0;

    list-style-type: none;
}

section.meta-single > .title {
    font-size: var(--font-h1-size);
}

section.meta-single > .time {
    font-size: var(--font-h4-size);
    color: var(--clr-grey);
}

section.meta-single > .section {
    font-size: var(--font-h3-size);
    color: white;

    margin-bottom: var(--spacing-m);
}
section.meta-single > .section > a:hover {
    color: transparent;

    text-decoration: underline;
}
section.meta-single > .tags {
    margin: 0 auto;
}

section.meta-single > .nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    margin: 1rem;
}
section.meta-single > .nav > .prev {
    text-align: left;
}
section.meta-single > .nav > .next {
    text-align: right;
}
