ul {
	list-style-type: disc;
	padding-left: var(--spacing-m);
	margin-bottom: var(--spacing-m);
}

ul li {
	margin-top: var(--spacing-s);
	font-size: var(--font-p-size);
}
ol {
	list-style-type: decimal;
	padding-left: var(--spacing-m); /* Indent the list */
	margin-bottom: var(--spacing-m);
}

ol li {
	margin-top: var(--spacing-s);
	font-size: var(--font-p-size);
}

blockquote {
	font-family: FontSerifItalic;
	border-left: var(--spacing-m) solid var(--clr-accent-green); /* left accent border */
	padding: var(--spacing-m);
	margin: var(--spacing-l) 0 var(--spacing-l) 0;
	background-color: var(--clr-grey);
	quotes: "“" "”" "‘" "’";
}
blockquote:before {
	content: open-quote;
	font-size: var(--font-h1-size);
	line-height: 0;
	margin-right: var(--spacing-m);
	vertical-align: calc( -0.75 * var(--spacing-m));
	color: var(--clr-accent-yellow);
}
blockquote p {
	display: inline;
	font-style: italic;
	font-size: var(--font-h5-size);
	color: var(--clr-white);
}

code {
	font-family: FontMonospace;
	color: white;
	background-color: var(--clr-grey);
	padding: 0 var(--spacing-s) 0 var(--spacing-s);
	border-radius: var(--spacing-s);
}

table {
	font-family: FontMonospace;
	font-size: calc(0.75 * var(--font-p-size));
	margin-bottom: var(--spacing-l);
	margin-top: var(--spacing-l);
}
table * {
	border: solid 1px;
	padding: calc(0.75 * var(--spacing-s));
}
thead {
	font-weight: 700;
}
tbody {
}
tr {
}
td {
	text-align: center;
	padding: calc(1.5 * var(--spacing-s));
}
hr {
	color: var(--clr-grey);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
}

img {
	display: block;
	margin: auto;
	width: 75%;
	/*max-width: 40%;*/
	height: auto;
}

#TableOfContents:before {
	content: "Contents";
	font-family: FontDisplayPrimary;
	font-size: var(--font-h1-size);
	font-weight: 600;
	color: var(--clr-black);
	margin-bottom: var(--spacing-m);
}
#TableOfContents {
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-bottom: var(--spacing-m);
}
#TableOfContents ul {
	list-style-type: none;
}
#TableOfContents ul li {
	font-family: FontDisplayPrimary;
}
