//@font-face {
//  font-family: "FontDev";
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: url("/font/Rosario/font.ttf") format("truetype");
//}

@font-face {
    font-family: "FontDisplay";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/font/UbuntuSans-Variable/UbuntuSans.woff2") format("woff2");
}
@font-face {
    font-family: "FontPrimary";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/font/UbuntuSans-Variable/UbuntuSans.woff2") format("woff2");
}
@font-face {
    font-family: "FontMonospace";
    font-weight: 400;
    font-style: normal;
    src: url("/font/UbuntuSansMono-Variable/UbuntuSansMono.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "FontMonospaceItalic";
    font-weight: 400;
    font-style: italic;
    src: url("/font/UbuntuSansMono-Variable/UbuntuSansMono-Italic.woff2") format("woff2");
    font-display: swap;
}
