// PARTIAL: footer.html

footer > section.copyright {
}
footer > section.copyright > .disclaimer {
	font-family: FontDisplayPrimary;
	text-align: center;
    font-size: var(--font-h3-size);
    font-weight: 700;

    margin: 0;
}
footer > section.copyright > .author {
	font-family: FontDisplayPrimary;
    font-size: var(--font-h4-size);
    font-weight: 600;

	color: var(--clr-white);

	text-align: center;
    margin: var(--spacing-s);
}

footer > section.link {
    margin: var(--spacing-m);
}
footer > section.link > nav {
    width: 100%;
    margin: 0 auto;
}
footer > section.link > nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	margin: 0;
    padding: 0;
}
footer > section.link > nav > ul > li {
	list-style-type: none;
}
footer > section.link > nav > ul > li > a {
	font-family: FontDisplayPrimary;
    font-size: var(--font-h3-size);
    font-weight: 600;
}
footer > section.link > nav > ul > li > a:hover {
	color: transparent; // don't obscure parent styling! */
}
