// PARTIAL: footer.html

footer > section.copyright {
}
footer > section.copyright > .disclaimer {
	font-family: FontDisplayPrimary;
	text-align: center;
    font-size: var(--font-h3-size);
    font-weight: 600;

    margin-bottom: var(--spacing-s)
}
footer > section.copyright > .author {
	font-family: FontDisplayPrimary;
	text-align: center;
    font-size: var(--font-p-size);
    font-weight: 600;
	color: var(--clr-white);

}

footer > section.link {
    padding-bottom: var(--spacing-m);
}
footer > section.link > nav {
}
footer > section.link > nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 50%;
    height: 100%;

	margin: auto;
    padding: 0;
}
footer > section.link > nav > ul > li {
	list-style-type: none;

	font-family: FontDisplayPrimary;
    font-size: var(--font-h3-size);
    font-weight: 600;

    margin: 0;
    padding: 0;
}
footer > section.link > nav > ul > li > a:hover {
	color: transparent; // don't obscure parent styling! */
}
