// Tags: Reset
article > section.meta > ul.tags * {
	margin: 0;
	padding: 0;

	list-style-type: none;

	line-height: 0;
	text-indent: 0;
}

// Tags: Layout
article > section.meta > ul.tags {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;

    max-width: 75%;

    margin: 0 auto;
}

// Tags: Box
article > section.meta > ul.tags > li.tag {
	background-color: var(--clr-white);

	border-radius: var(--spacing-s);
    border: var(--spacing-s) var(--clr-black) solid;

	margin: 0.25rem;
    padding: var(--spacing-s);
}

// Tags: Text
article > section.meta > ul.tags > li.tag > a {
    display: block;

	font-family: FontDisplayPrimary;
    font-size: var(--font-h5-size);
    font-weight: 800;
	color: var(--clr-black);
    
    padding: calc(var(--spacing-s)*3);
}
article > section.meta > ul.tags > li.tag > a:hover {
    color: var(--clr-accent-red);
}




// General strings
.date {
	font-family: FontDisplayPrimary;
}

.listTags {
	margin: 0 auto;
	max-width: 75%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
}
.listTags li {
	margin: 0rem 0 1rem 0;
}

// Article Types
article.type-404 * {
	font-family: FontDisplayPrimary;
	text-align: center;
}

article.type-list-big {
	width: auto;
	height: auto;
}
article.type-list-big > a {
	user-select: none;
	display: inline-block; /* Make this <a> behave like a typical block element so its bg gets filled.*/
	width: calc(100% - 2rem);
	height: auto;
	
	padding: var(--spacing-m);
	border-radius: var(--spacing-m);
	
	background-color: var(--clr-accent-blue);
	transition: background-color 0.6s ease;
}
article.type-list-big > a * {
	color: var(--clr-white);
	margin: 0;
}
article.type-list-big > a:hover {
	background-color: var(--clr-black);
	transition: background-color 0.2s ease;
}
article.type-list > section.entry {
	display: flex;
	flex-direction: column;
}
article.type-list > section.entry > div {
	margin: var(--spacing-m);
	padding: 0 0 0 var(--spacing-m);
	/*border-left: 0.20rem solid black;*/
}

.previewEntry .meta {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-left: 0;
	height: auto;
	width: auto;
}
.previewEntry .meta .date {
	font-family: FontDisplayPrimary;
	font-size: var(--font-h6-size);
	margin: 0;
}
.previewEntry .meta .title {
	font-family: FontDisplayPrimary;
	font-size: var(--font-h4-size);
}
.previewEntry .meta .tags {
	padding: var(--spacing-s) 0 var(--spacing-m) 0;
}
.previewEntry .meta .description {
}
.previewEntry .meta .link {
	font-family: FontDisplayPrimary;
}
.previewEntry .meta .readtime {
	font-family: FontDisplayPrimary;
	color: var(--clr-grey);
}
.previewPost {
	// This whole mess has to go
	max-width: 64rem;
}
.previewNote {
	// This whole mess has to go
	max-width: 64rem;
}
.previewPost .header {
	background-color: var(--clr-accent-blue);
	/*background-image: url("../post.png");*/
}
.previewPost > .previewEntry > div {
	border-left: 0.20rem solid var(--clr-accent-blue);
}
.previewNote .header {
	background-color: var(--clr-accent-red);
	/*background-image: url("../reflection.png");*/
}
.previewNote .previewEntry > div {
	border-left: 0.20em solid var(--clr-accent-red);
}

img {
	display: block;
	margin: auto;
	width: 75%;
	/*max-width: 40%;*/
	height: auto;
}
