



// General strings
.date {
	font-family: FontDisplayPrimary;
}

.listTags {
	margin: 0 auto;
	max-width: 75%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
}
.listTags li {
	margin: 0rem 0 1rem 0;
}



img {
	display: block;
	margin: auto;
	width: 75%;
	/*max-width: 40%;*/
	height: auto;
}
