// PARTIAL: header.html

header * {
	font-family: FontDisplayPrimary;
}
header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	user-select: none;

    padding-top: var(--spacing-m);
    height: auto;
}
header > nav {
    width: 100%;
    height: auto;

    padding-bottom: calc(var(--spacing-m)*0.75);
}
header > nav > ul {
// Current site path
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

    width: auto;
	height: auto;

    list-style-type: none;

    padding: 0;
    margin: 0;
}
header > nav > ul > li {
// Path component
    margin-left: 0.75rem;
    padding-top: calc(var(--spacing-m)*0.5);
    font-size: var(--font-h1-size);
    font-weight: 600;
}
header > nav > ul > li > a {
	color: transparent; /* don't obscure parent styling! */
}
header > nav > ul > li > a:hover {
	color: transparent; /* don't obscure parent styling! */
}
