// Section: Meta 
article.list > section.meta * {
	font-family: FontDisplayPrimary;
	text-align: center;
    padding: 0;
}

// Section: Content
article.list > section.content {
    margin: var(--spacing-m);
    padding: 0;
}

// Entries: Reset
article.list > section.content > ul.entries {
    margin: 0;
    padding: 0;
}

article.list > section.content > ul.entries * {
    font-family: FontDisplayPrimary;
    font-size: var(--font-p-size);

    margin: 0;
    padding: 0;

    list-style: none;
}

// Entries: Box
article.list > section.content > ul.entries > li {
    padding: calc(var(--spacing-m)*0.20);
}

// Entries: Anchor
article.list > section.content > ul.entries > li > a.entry {
    display: block;

    background-color: var(--clr-white-dark);
	border-radius: var(--spacing-s);

    padding: calc(var(--spacing-m)*0.25);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
article.list > section.content > ul.entries > li > a.entry:hover {
    box-shadow: 0 0 0 var(--spacing-s) var(--clr-accent-red);
}

// Entry: Section (defaults)
article.list > section.content > ul.entries > li > a.entry > .meta > .section {
    font-family: FontDisplayPrimary;
    font-size: var(--font-p-size);
    font-weight: 800;

    color: var(--clr-white);
}
// Entry: Date
article.list > section.content > ul.entries > li > a.entry > .meta > .date {
    color: var(--clr-black);
    font-weight: 800;
	border-radius: var(--spacing-s);

    margin-left: calc(var(--spacing-m)*0.30);
    margin-right: calc(var(--spacing-m)*0.30);
}
// Entry: Title
article.list > section.content > ul.entries > li > a.entry > .meta > .title {
    font-weight: 500;
}


// Section-specific entry tag
article.list > section.content > ul.entries > li > a.entry > .meta > .post {
    color: var(--clr-accent-blue);
}
article.list > section.content > ul.entries > li > a.entry > .meta > .note {
    color: var(--clr-accent-red);
}
article.list > section.content > ul.entries > li > a.entry > .meta > .log {
    color: var(--clr-accent-purple);
}
