// PARTIAL: meta-content.html

// Table of Contents
article.single > section.toc > * {
	font-family: FontDisplayPrimary;
	font-size: var(--font-h3-size);
	font-weight: 500;
	color: var(--clr-black);
}
article.single > section.toc {
// Table of Contents
}
#TableOfContents:before {
	content: "Table of Contents";
	font-weight: 700;

	margin-bottom: var(--spacing-s);
}
#TableOfContents {
	display: flex;
	flex-direction: column;
	justify-content: left;

    counter-reset: section;

	margin-bottom: var(--spacing-s);
}
#TableOfContents ul {
	list-style: none;

    margin: 0;
    padding: 0;

    padding-left: 1em;
}
#TableOfContents li {
    margin-bottom: var(--spacing-s);
}
#TableOfContents li::before {
}

