nav.menu * {
    margin: 0;
    padding: 0;
}

nav.menu {
    display: flex;
    flex-direction: row;
    
    margin-bottom: var(--spacing-s);
    padding: var(--spacing-s);
    
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

nav.menu > .title {
    font-size: var(--font-h4-size);
    font-weight: bold;
    
    background-color: rgba(255, 255, 255, 1.0);
    padding: var(--spacing-s) var(--spacing-m);
}

nav.menu > ul.links {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    justify-content: space-around;
    align-items: center;
    
    background-color: transparent;
    border-radius: var(--radius-s);
}

nav.menu > ul.links > li > a {
    font-size: var(--font-h6-size);
    font-weight: bold;
    padding: calc(var(--spacing-s)*0.5) var(--spacing-s);
}

nav.menu > ul.links > li > a.Posts {
}
nav.menu > ul.links > li > a.Notes {
}
nav.menu > ul.links > li > a.Logs {
}
