article.single > section.meta * {
	font-family: FontDisplayPrimary;
	text-align: center;	

    margin: 0;
    padding: 0;
}

// Content Title
article.single > section.meta > .title {
    font-size: var(--font-h1-size);
}

// Publish Date & Read time estimate
article.single > section.meta > .time {
    font-size: var(--font-h4-size);
	color: var(--clr-grey);
}

// Content Section Name
article.single > section.meta > .section {
    font-size: var(--font-h3-size);
	color: white;

    margin-bottom: var(--spacing-m);
}
article.single > section.meta > .section > a:hover {
	color: transparent;

    text-decoration: underline;
    text-decoration-color: var(--clr-black);
}



// Navigation buttons (prev & next)
article.single > section.meta > .nav {
	display: flex;
	justify-content: space-between;
	list-style-type: none;

    margin: 1rem;
}
article.single > section.meta > .nav > .prev {
    text-align: left;
}
article.single > section.meta > .nav > .next {
    text-align: right;
}

// Table of Contents
article.single > section.toc > * {
	font-family: FontDisplayPrimary;
	font-size: var(--font-h3-size);
	font-weight: 500;
	color: var(--clr-black);
}
article.single > section.toc {
// Table of Contents
}
#TableOfContents:before {
	content: "Table of Contents";
	font-weight: 700;

	margin-bottom: var(--spacing-s);
}
#TableOfContents {
	display: flex;
	flex-direction: column;
	justify-content: left;

    counter-reset: section;

	margin-bottom: var(--spacing-s);
}
#TableOfContents ul {
	list-style: none;

    margin: 0;
    padding: 0;

    padding-left: 1em;
}
#TableOfContents li {
    margin-bottom: var(--spacing-s);
}
#TableOfContents li::before {
}

article.single > section.content {
// The Primary Content Section
    padding-left: 4rem;
    padding-right: 4rem;
}


// Consistent section margin-bottom
article.single > section {
    margin-bottom: var(--spacing-m);
}
