article.single > section.content {
// The Primary Content Section
    padding-left: 4rem;
    padding-right: 4rem;
}


// Consistent section margin-bottom
article.single > section {
    margin-bottom: var(--spacing-m);
}
