// Default TAGS list styling

ul.tags * {
	margin: 0;
	padding: 0;

	list-style-type: none;

	line-height: 0;
}

ul.tags {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;

    background-color: transparent;

    margin: 0 auto;
}
ul.tags > li.tag {
    flex: 1 1 auto;
    text-align: center;
	margin: 0.15rem;
}
ul.tags > li.tag > a {
    display: block;

	font-family: FontPrimary;
    font-weight: 700;
    font-size: calc(var(--font-p-size)*0.75);
	color: var(--clr-black);
    
	background-color: var(--clr-white);

	border-radius: var(--radius-s);
    border: 0.15em var(--clr-black) solid;

    padding: var(--spacing-s);
    overflow: hidden;
}
ul.tags > li.tag > a:hover {
    color: var(--clr-accent-red);
    border: 0.15em var(--clr-accent-red) solid;
}
