// Default TEXT styling

h1,h2,h3,h4,h5,h6 {
    color: var(--clr-black);
    font-family: FontPrimary, sans-serif;
    font-style: normal;
    line-height: normal;

    margin-top: var(--spacing-s);
    margin-bottom: calc(var(--spacing-s)*1.75);
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-family: FontPrimaryItalic, sans-serif;
    font-style: italic;
}
h1 {
    font-size: var(--font-h1-size);
    font-weight: 800;
}
h2 {
    font-size: var(--font-h2-size);
    font-weight: 700;
}
h3 {
    font-size: var(--font-h3-size);
    font-weight: 650;
}
h4 {
    font-size: var(--font-h4-size);
    font-weight: 600;
}
h5 {
    font-size: var(--font-h5-size);
    font-weight: 550;
}
h6 {
    font-size: var(--font-h6-size);
    font-weight: 500;
}
p {
    font-family: FontPrimary, sans-serif;
    font-style: normal;
    font-size: var(--font-p-size);

    line-height: var(--font-p-lineheight);
    margin-bottom: var(--spacing-m);

    text-align: justify;
    text-justify: inter-word;

    color: var(--clr-black);
}
strong {
    font-style: bold;
    font-weight: 700;
}
em {
    font-style: italic;
    font-weight: 350;
}
a {
    text-decoration: none;
    color: var(--clr-accent-blue);
}
a:hover {
    color: var(--clr-accent-red);
}
a:visited {
    color: none;
}

::selection {
    color: var(--clr-black);
    background: var(--clr-accent-yellow);
}
::-moz-selection {
    color: var(--clr-black);
    background: var(--clr-accent-yellow);
}

ul {
    max-width: 90%;
    margin: 0 auto;
    
    list-style-type: none; // or square
    list-style-position: inside;
    
    font-size: var(--font-p-size);
    font-weight: 700;
    font-style: bold;
    line-height: normal;
    
    padding: var(--spacing-m);
    margin-bottom: var(--spacing-m);
    border-radius: var(--radius-l);

    background-color: var(--clr-white-dark);
}

ul li::marker { // Affects both <ul> and <li> markers ...
    font-size: var(--font-h6-size);
}

ul ul { // This affects the nested lists, including <li> under <ul> ...
    list-style-type: circle;
    list-style-position: outside;

    font-size: var(--font-p-size);
    font-weight: 400;

    margin-bottom: var(--spacing-s);
    padding: var(--spacing-s) var(--spacing-m);
}

ol {
    list-style-type: decimal;
    margin-top: var(--spacing-m);
}

ol > li {
    margin-top: var(--spacing-s);
    font-size: var(--font-p-size);
}

blockquote {
    //font-family: FontPrimary;
    //border-left: var(--spacing-m) solid var(--clr-accent-green); /* left accent border */
    //padding: var(--spacing-m);
    //margin: var(--spacing-l) 0 var(--spacing-l) 0;
    //background-color: var(--clr-grey);
    //quotes: "“" "”" "‘" "’";
}
blockquote:before {
    //content: open-quote;
    //font-size: var(--font-h1-size);
    //line-height: 0;
    //margin-right: var(--spacing-m);
    //vertical-align: calc( -0.75 * var(--spacing-m));
    //color: var(--clr-accent-yellow);
}
blockquote p {
    //display: inline;

    //font-size: var(--font-h5-size);
    //font-style: italic;

    //color: var(--clr-white);
}

// Code: inline
code {
    font-family: FontMonospace, monospace;
    font-size: calc(var(--font-p-size)*0.90);
    font-weight: 450;
    color: black;

    white-space: pre-wrap;

    padding: calc(var(--spacing-s)*0.10) calc(var(--spacing-s)*0.5);
    margin: 0 calc(var(--spacing-s)*0.25);

    background-color: var(--clr-white-black);
    border-radius: var(--radius-s);
}

// Code: block
pre > code {
    display: block;
    white-space: pre;
    overflow-x: auto;

    line-height: calc(var(--font-p-lineheight)*0.75);
    background-color: var(--clr-white-dark);

    margin-bottom: var(--spacing-m);
    padding: var(--spacing-s);
}

table {
    font-family: FontPrimary;
    font-size: calc(0.75 * var(--font-p-size));
    margin-bottom: var(--spacing-l);
    margin-top: var(--spacing-l);
}
table * {
    border: solid 1px;
    padding: calc(0.75 * var(--spacing-s));
}
thead {
    font-weight: 700;
}
tbody {
}
tr {
}
td {
    text-align: center;
    padding: calc(1.5 * var(--spacing-s));
}
hr {
    color: var(--clr-grey);
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}
