/* Canvas */
$canvas-width-min: 500px;
$canvas-width-max: 1000px;

/* Colours */
$clr-black: #141414;
$clr-white: #FAF0E9;
$clr-white-dark: mix(black, $clr-white, 5%);
$clr-grey: #494949;

$clr-accent-red: #F74E45;
$clr-accent-green: #164E42;
$clr-accent-blue: #0F8EF0;

$clr-accent-yellow: #FFDB70;
$clr-accent-purple: #8A2AD4;

/* Spacing and Adjustments */
$spacing-std: 0.50rem;

$spacing-mult-s:  1.50;
$spacing-mult-m:  4.00;
$spacing-mult-l:  8.00;
$spacing-mult-xl: 12.00;

$spacing-s: $spacing-std * $spacing-mult-s;
$spacing-m: $spacing-std * $spacing-mult-m;
$spacing-l: $spacing-std * $spacing-mult-l;
$spacing-xl: $spacing-std * $spacing-mult-xl;

// Radius
$radius-std: 0.10em;

$radius-mult-s: 2.00;
$radius-mult-m: 4.00;
$radius-mult-l: 8.00;

$radius-s: $radius-std * $radius-mult-s;
$radius-m: $radius-std * $radius-mult-m;
$radius-l: $radius-std * $radius-mult-l;

/* TEXT */
// Bounds & Multipliers
$font-std: 1.00rem;

$font-mult-h1: 2.00;
$font-mult-h2: 1.85;
$font-mult-h3: 1.75;
$font-mult-h4: 1.50;
$font-mult-h5: 1.30;
$font-mult-h6: 1.15;
$font-mult-p:  1.00;

$font-p-lineheight: 1.50;
$font-margin: 1em;

// Calculated values
$font-h1-size: $font-std * $font-mult-h1;
$font-h2-size: $font-std * $font-mult-h2;
$font-h3-size: $font-std * $font-mult-h3;
$font-h4-size: $font-std * $font-mult-h4;
$font-h5-size: $font-std * $font-mult-h5;
$font-h6-size: $font-std * $font-mult-h6;
$font-p-size:  $font-std * $font-mult-p;

// NON-SCSS VARS
:root {
	// Canvas
	--canvas-width-min: #{$canvas-width-min};
	--canvas-width-max: #{$canvas-width-max};

	// Colours
	--clr-black: #{$clr-black};
	--clr-white: #{$clr-white};
	--clr-white-dark: #{$clr-white-dark};
	--clr-grey: #{$clr-grey};
	
	--clr-accent-red: #{$clr-accent-red};
	--clr-accent-green: #{$clr-accent-green};
	--clr-accent-blue: #{$clr-accent-blue};
	
	--clr-accent-yellow: #{$clr-accent-yellow};
	--clr-accent-purple: #{$clr-accent-purple};
	
	// Spacing, Radius
	--spacing-s: #{$spacing-s};
	--spacing-m: #{$spacing-m};
	--spacing-l: #{$spacing-l};
	--spacing-xl: #{$spacing-xl};

	--radius-s: #{$radius-s};
	--radius-m: #{$radius-m};
	--radius-l: #{$radius-l};
	
	// Text
	--font-p-size: #{$font-p-size};

    --font-a-size: #{$font-p-size};
	--font-h1-size: #{$font-h1-size};
	--font-h2-size: #{$font-h2-size};
	--font-h3-size: #{$font-h3-size};
	--font-h4-size: #{$font-h4-size};
	--font-h5-size: #{$font-h5-size};
	--font-h6-size: #{$font-h5-size};

	--font-p-lineheight: #{$font-p-lineheight};
	--font-margin: #{$font-margin};
}

@media (max-width: 700px) {
	:root {
		--spacing-s: #{($spacing-s * 0.80)};
		--spacing-m: #{($spacing-m * 0.80)};
		--spacing-l: #{($spacing-l * 0.80)};

		--font-margin: #{($font-margin * 0.80)};
		--font-h1-size: #{($font-h1-size * 0.80)};
		--font-h2-size: #{($font-h2-size * 0.80)};
		--font-h3-size: #{($font-h3-size * 0.80)};
		--font-h4-size: #{($font-h4-size * 0.80)};
		--font-h5-size: #{($font-h5-size * 0.80)};
		--font-h6-size: #{($font-h6-size * 0.80)};
		--font-p-size: #{($font-p-size * 0.80)};
	}
}
@media (max-width: 550px) {
	:root {
		--spacing-s: #{($spacing-s * 0.60)};
		--spacing-m: #{($spacing-m * 0.60)};
		--spacing-l: #{($spacing-l * 0.60)};
		
		--font-margin: #{($font-margin * 0.60)};
		--font-h1-size: #{($font-h1-size * 0.60)};
		--font-h2-size: #{($font-h2-size * 0.60)};
		--font-h3-size: #{($font-h3-size * 0.60)};
		--font-h4-size: #{($font-h4-size * 0.60)};
		--font-h5-size: #{($font-h5-size * 0.60)};
		--font-h6-size: #{($font-h6-size * 0.60)};
		--font-p-size: #{($font-p-size * 0.60)};
	}
}
