// Canvas
$canvas-width-min: 350px;
$canvas-width-max: 1200px;

// Colours
$clr-black: #141414;
$clr-white: #FAF0E9;
$clr-grey: #494949;

$clr-accent-red: #F74E45;
$clr-accent-green: #164E42;
$clr-accent-blue: #0F8EF0;

$clr-accent-yellow: #FFDB70;
$clr-accent-purple: #A67F8E;

// Spacing, Radius
$spacing-s: 0.15rem;
$spacing-m: 2.50rem;
$spacing-l: 4.00rem;

$radius-s: 0.25rem;
$radius-m: 0.75rem;
$radius-l: 1.25rem;

// Header & Footer
$header-height: 12rem;

$footer-height: 12rem;
$footer-height-max: 18rem;

// Text
$font-margin: 1.250rem;
$font-h1-size: 3.00rem;
$font-h2-size: 2.50rem;
$font-h3-size: 2.00rem;
$font-h4-size: 1.50rem;
$font-h5-size: 1.00rem;
$font-h6-size: 0.50rem;
$font-p-size: 1.75rem;

$font-p-lineheight: 3.25rem;


// NON-SCSS VARS (legacy)
:root {
    // Canvas
    --canvas-width-min: #{$canvas-width-min};
    --canvas-width-max: #{$canvas-width-max};

    // Colours
	--clr-black: #{$clr-black};
	--clr-white: #{$clr-white};
	--clr-grey: #{$clr-grey};
	
	--clr-accent-red: #{$clr-accent-red};
	--clr-accent-green: #{$clr-accent-green};
	--clr-accent-blue: #{$clr-accent-blue};
	
	--clr-accent-yellow: #{$clr-accent-yellow};
	--clr-accent-purple: #{$clr-accent-purple};
	
    // Spacing, Radius
	--spacing-s: #{$spacing-s};
	--spacing-m: #{$spacing-m};
	--spacing-l: #{$spacing-l};

    --radius-s: #{$radius-s};
    --radius-m: #{$radius-m};
    --radius-l: #{$radius-l};
	
    // Header & Footer
	--header-height: #{$header-height};

	--footer-height: #{$footer-height};
    --footer-height-max: #{$footer-height-max};

    // Text
	--font-margin: #{$font-margin};
	--font-h1-size: #{$font-h1-size};
	--font-h2-size: #{$font-h2-size};
	--font-h3-size: #{$font-h3-size};
	--font-h4-size: #{$font-h4-size};
	--font-h5-size: #{$font-h5-size};
	--font-h6-size: #{$font-h5-size};
	--font-p-size: #{$font-p-size};
    --font-p-lineheight: #{$font-p-lineheight};
}

@media (max-width: 1000px) {
	:root {
		// -40% relative to default
		--spacing-s: #{($spacing-s * 0.60)};
		--spacing-m: #{($spacing-m * 0.60)};
		--spacing-l: #{($spacing-l * 0.60)};
		
		// -25% relative to default
		--header-height: #{($header-height * 0.75)};
		--footer-height: #{($footer-height * 0.75)};

		// -40% relative to default
		--font-margin: #{($font-margin * 0.60)};
		--font-h1-size: #{($font-h1-size * 0.60)};
		--font-h2-size: #{($font-h2-size * 0.60)};
		--font-h3-size: #{($font-h3-size * 0.60)};
		--font-h4-size: #{($font-h4-size * 0.60)};
		--font-h5-size: #{($font-h5-size * 0.60)};
		--font-h6-size: #{($font-h6-size * 0.60)};
		--font-p-size: #{($font-p-size * 0.60)};
		--font-p-lineheight: #{($font-p-lineheight * 0.60)};
	}
}
@media (max-width: 650px) {
	:root {
		// -60% relative to default
		--spacing-s: #{($spacing-s * 0.40)};
		--spacing-m: #{($spacing-m * 0.40)};
		--spacing-l: #{($spacing-l * 0.40)};
		
		// -50% relative to default
		--header-height: #{($header-height * 0.50)};
		--footer-height: #{($footer-height * 0.50)};
		
		// -60% relative to default
		--font-margin: #{($font-margin * 0.40)};
		--font-h1-size: #{($font-h1-size * 0.40)};
		--font-h2-size: #{($font-h2-size * 0.40)};
		--font-h3-size: #{($font-h3-size * 0.40)};
		--font-h4-size: #{($font-h4-size * 0.40)};
		--font-h5-size: #{($font-h5-size * 0.40)};
		--font-h6-size: #{($font-h6-size * 0.40)};
		--font-p-size: #{($font-p-size * 0.40)};
		--font-p-lineheight: #{($font-p-lineheight * 0.40)};
	}
}
